<% include partials/header %>

<div class="jumbotron">
  <h1>That's it! You've signed up!</h1>
</div>

  <iframe class="hidden redirect-frame" src="<%- redirectUrl %>"></iframe>
<% include partials/footer %>
