<% page = 'privacy-policy legal' %>
<% include partials/header %>
  <section class="screen">
    <div class="container">
      <a class="back" href="<%- helpers.path('.') %>"><%= content.back || 'Back to Sign In' %></a>

      <div class="screen-head">
        <h2>PRIVACY POLICY</h2>
      </div>
      <%- content.paragraph('privacyPolicy') %>
    </div>
  </section>

<% include partials/footer %>
